.footer {
  background: #98249c;
  padding: 0px 20px 0 20px;
  color: #fff;
  position: sticky;
  bottom: 0;
  z-index: 1;
}

.footer nav {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer a.brand {
  margin-right: auto;
  color: #fff;
  text-decoration: none;
}

.footer a:last-child {
  color: #fff;
  text-decoration: none;
  margin-left: 40px;
  padding: 8px;
  /* border: 1px solid #fff; */
  font-weight: 400;
}
.footer a:last-child:hover {
  color: #fff;
  text-decoration: none;
  /* background: #333; */
}
h1 {
  font-size: 0.2em;
}

body {
  padding-bottom: 10px;
}
