.footer .floating-cta-button {
  position: fixed;
  bottom: 30px;
  left: 20px;
  z-index: 90;

  border-radius: 50px;
  width: 173px;
  height: 50px;
  padding: 0px;
  background-color: #9800b3cb;
  color: white;
  border: none;
  box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  cursor: pointer;

  /* Content Alignment */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Effects */
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.footer .floating-cta-button:hover {
  background-color: #a514de;
  transform: translateY(-10%);
}

.footer .floating-nav-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 98; /* Ensures it's on top of other content */
  width: 50px;
  height: 50px;
  padding: 8px; /* Added padding for content inside */
  background-color: #9800b3cb;
  color: white;
  border: 10px; /* Removed the default border */
  border-radius: 50%; /* Makes it a circle */
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  cursor: pointer;

  /* Content Alignment */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Effects */
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.footer .floating-nav-button:hover {
  transform: scale(1.1); /* Slightly enlarge on hover */
}

.footer a:last-child {
  color: #fff;
  background-color: transparent;
  text-decoration: none;

  padding: 10px; /* Generous padding for easy tapping */
  border: 1.6px solid #fff;
  border-radius: 50px;
  text-align: center; /* Center text inside the button */
  transition: background-color 1.3s ease, color 0.3s ease;
}

.footer a:last-child:hover {
  background-color: #fff;
  color: #b228b7;
}

.floating-nav-button:visited {
  background-color: transparent;
  color: white;
  transition: background-color 0.3s, color 0.3s ease;
}

@media (min-width: 768px) {
  .floating-nav-button {
    width: 60px;
    height: 60px;
    bottom: 30px;
    right: 30px;
  }
}
