.navbar {
  background: #98249c;
  padding: 400px 20px 100px 20px;
  margin-bottom: -50px;
  position: sticky;
  z-index: 100;
  border: 1.25px solid #98249c;
  box-shadow: 4px 12px 10px rgba(0, 0, 0, 0.3);
  top: -470px;
  border-radius: 0 0 50px 50px;
  text-align: center;
}

.navbar nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar a.brand {
  margin: -175px auto 15px auto;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
}

.navbar h2 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

@media (min-width: 600px) {
  .navbar nav {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .navbar {
    padding: 10px 40px;
    margin-bottom: -770px;
  }
}
