.navbar2 {
  background: #651768;
  padding: 140px 20px 70px 20px;
  margin-bottom: -50px;
  position: sticky;
  z-index: 99;
  border: 1.25px solid #651768;
  box-shadow: 4px 12px 10px rgba(0, 0, 0, 0.3);
  top: -310px;
  bottom: 0;
  border-radius: 0 0 50px 50px;
  text-align: center;
}

.navbar2 nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar2 a.brand2 {
  margin: 0px auto 15px auto;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
}

.navbar2 h2 {
  font-size: 1.2em;
  margin-bottom: 55px;
}

@media (min-width: 600px) {
  .navbar2 nav {
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar2 a.brand {
    margin-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .navbar2 {
    visibility: hidden;
  }
}
